@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply max-w-6xl mx-auto border bg-white;
    margin: 1.5rem;
    padding: 2rem 1rem;
    border-radius: 10px;

    @media (min-width: 72rem) {
      margin: 8rem auto;
      padding: 5rem;
      border-radius: 45px;
    }
  }

  .section-title {
    @apply font-bold text-4xl mb-5 text-gray-800;
  }

  .section-subtitle {
    @apply text-green-800 font-bold mb-1 block uppercase;
  }
}

body {
  @apply bg-stone-50;
  overflow-x: hidden;
}
